In [1]:
import numpy as np 
import pandas as pd

In [2]:
x = int(input("Please enter an interger:"))
if x <0:
    x=0
    print("Negative changed to zero")
elif x==0:
    print("Zero")
elif x==1:
    print("Single")
else:
    print ("More ")

More

In [6]:
words = ['cat', 'window', 'defenestrate']
for word in words:
    print(word, len(word))
    for i in word:
        print(i)

cat 3
c
a
t
window 6
w
i
n
d
o
w
defenestrate 12
d
e
f
e
n
e
s
t
r
a
t
e

In [12]:
users = {'Hans': 'active', 'Éléonore': 'inactive', '景太郎': 'active'}

for user, status in users.copy().items():
        if status =="inactive":
              del users[user]

active_users ={}
for user, status in users.items():
       if status =="active":
              active_users[user]= status

              print (user)

Hans
景太郎

In [14]:
for i in range (5):
    print (i**2)

0
1
4
9
16

In [17]:
list(range(5,10))

list(range(0,10,3))

list(range(-10, -100, -30))

[-10, -40, -70]

In [21]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range (len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [24]:
range(10)
sum(range(4))

6

In [26]:
for n in range (2,10):
    for x in range (2,n):
        if n % x == 0:
            print(n, "equals", x, "*", n//x)
            break
    else:
        print(n, "is a prime number")

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [31]:
for num in range (2, 10):
    if num % 2 == 0:
        print('Found an even number', num)
        continue
    print ("Found an odd number",num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

In [36]:
def fib(n):
    a,b =0, 1
    while a < n :
        print( a, end=",")
        a, b = b, a+b
    print ()
fib(2000)

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,1597,

In [38]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result

f100 = fib2(100)  


print(f100)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [39]:
i = 5

def f(arg=i):
    print(arg)

i = 6
f()

5

In [43]:
def my_function():
    print("Hello from the function")

my_function()

Hello from the function

In [44]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [46]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("billy", "Haiboss")

billy Haiboss

In [47]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [49]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child2)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Tobias

In [50]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [51]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [52]:
def my_function(x):
    return 5* x
my_function(8)

40

In [60]:
def my_function(x,/):
    print(x)
my_function(x)

3

In [61]:
def my_function(x):
  print(x)

my_function(3)

3

In [62]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [78]:
def hello ():
    fname= str(input("What is your name : "))
    print("Hi", fname, "\nHow are you doing today?")

hello()

Hi  Pereka
How are you doing today?

In [101]:
def get_sum ():
    a = int(input("Enter an Interger of your choice:"))

    b = int(input("Enter another Interger of your choice:"))
    return a + b

get_sum()

37

In [106]:
def sum(a, b):
    return a + b

res= sum(10,10)

print(res)

20

In [107]:
def greater (data, maxsize):
    return len(data)>maxsize